body {
    margin: 0;
    padding: 0;
    background: rgb(11,8,15);
background: linear-gradient(90deg, rgba(11,8,15,1) 58%, rgba(11,8,15,0.9307073171065301) 100%);
color:white;
    
}
.logo_back {
    width:40vw;
    height: 100vh; 
    background-image:url("dice.jpg");
    margin:0; 
    padding:0; 
    background-size: cover;
    background-repeat: no-repeat;
}

.logo_name {
    background: linear-gradient(28deg, rgba(2,0,36,1) 0%, rgba(0,233,255,0.33967090254070376) 0%, rgba(255,255,255,0.9110994739692753) 0%);
    font-family: 'Lora', serif;
    font-family: 'Rubik Gemstones', cursive;
    font-size: 3rem;
}

.logo {

    padding:0; 
    position: absolute;
    top: 25vh;
    width:40vw;
    text-align: center;
    color: black;
}
form {
    display: inline-block;
    width: 60vw;
    position: absolute;
    top: 35vh;
    left: 40vw;
}
.annotation {
    width: 100%;
    margin: 0;
}
.annotation_div {
    padding: 4% 2%;
    width: 60vw;
    position: absolute;
    top: 0;
    left: 40vw;
    font-family: 'Kanit', sans-serif;
    font-size: 1.3rem;
    box-sizing: border-box;
    color: white;
}
.legend {
    width: 100%;
    margin: 2rem 0 0 0 ;


}
.log {
    display: block;
    width: 60vw;
    position: absolute;
    bottom: 5vh;
    left: 40vw;
    font-family: 'Kanit', sans-serif;

}
fieldset {
    box-shadow: 20px -3px 60px -16px #FFFFFF;
    border: none;
    font-family: 'Kanit', sans-serif;
    padding: 0 0 0 2rem;
    box-sizing: border-box;
}

fieldset div {
    width: 49%;
    margin: 0;
    display: inline-block;
    text-align: left;
    padding: 1.5rem 0;
}
fieldset div label {
    width: 100%;
    display: inline-block;
}

fieldset div input {
    width: 90%;
}

button {
    text-align: center;
    background-color: black;
    border: 1px solid white;
    color: white;
    font-family: 'Kanit', sans-serif;
    height: 3rem;
    width: 8rem;
    font-size: 1.2rem;
    margin: 4% 0 0 42%;
    display: inline-block;
    
    
}

@media(max-width: 50rem) {
    .logo_back {
        width:100vw;
        height: 10vh; 
        background-image:url("dice.jpg");
        margin:0; 
        padding:0; 
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .logo_name {
        background: linear-gradient(28deg, rgba(2,0,36,1) 0%, rgba(0,233,255,0.33967090254070376) 0%, rgba(255,255,255,0.9110994739692753) 0%);
        font-family: 'Lora', serif;
        font-family: 'Rubik Gemstones', cursive;
        font-size: 2rem;
    }
    
    .logo {
    
        padding:0; 
        width:100vw;
        text-align: center;
        color: black;
        position: absolute;
        top: 0;
    }
    .annotation {
        width: 100%;
        margin: 0;
    }
    .annotation_div {
        padding: 4% 2%;
        width: 100vw;
        position: absolute;
        top: 10vh;
        left: 0;
        font-family: 'Kanit', sans-serif;
        font-size: 1rem;
        box-sizing: border-box;
        color: white;
        position: static;
    }
    .legend {
        width: 100%;
        margin: 2rem 0 0 0 ;
    
    
    }

    form {
        display: inline-block;
        width: 100vw;
        position: absolute;
        top: 35vh;
        left: 0;
        position: static;
    }

    fieldset {
        box-shadow: 20px -3px 60px -16px #FFFFFF;
        border: none;
        font-family: 'Kanit', sans-serif;
        padding: 0 0 0 2rem;
        box-sizing: border-box;
    }
    
    fieldset div {
        width: 100%;
        margin: 0;
        display: inline-block;
        text-align: left;
        padding: 1.5rem 0;
    }
    fieldset div label {
        width: 100%;
        display: inline-block;
    }
    
    fieldset div input {
        width: 90%;
    }
    .log {
        display: inline-block;
        width: 100vw;
        position: static;
        text-align: center;
        font-family: 'Kanit', sans-serif;
    
    }
    button {
        text-align: center;
        background-color: black;
        border: 1px solid white;
        color: white;
        font-family: 'Kanit', sans-serif;
        height: 3rem;
        width: 8rem;
        font-size: 1.2rem;
        margin: auto;
        margin-top: 2rem;
        display: block;

        
        
    }
}